/* numérotation automatique des titres h2 et ajout du préfixe Tâche*/
h2:before {
	content:"Tâche N° "counter(numart)" - ";
	counter-increment:numart;
}

body {
	counter-reset:numart; /* initialisation du compteur */
	font-family:arial,sans-serif;
	font-size:13px;
	color:black;
	text-align:justify;
	margin-left:10px;
	margin-right:10px;
}

/* classe pour afficher en blanc sur fond rouge*/
.warning {
	background-color:red;
	color:white;
	font-weight:bolder;
}

header {
	clear:left;
  border:groove;
  border-width:15px;
	margin:0;
}

nav {
	float:left;
	margin:10px;
	padding:10px;
   border:inset;
   border-width: 5px;
}

main {
	border: 3px solid black;
	float:left;
}

section {
	margin:1em;
	padding:0 0 1ex 1em;
	border:3px double black;
	text-align: justify;
	text-indent: 2em;
}

section p {
	margin: 1ex 2em 0 2em;
	border-left:thin dotted black;
	border-right:thin dotted black;
	padding:0 2ex 0 2ex;
}

footer {
	clear:left;
	border:ridge;
	border-width: 10px;
}

footer p {
	margin:0 0 0 100px;
}

img {
	height:20%;
	width:20%;
}

aside{
	float:left;
	border:dashed;
}

table,td,th{
	border:solid;
	border-width: 1px;
}
