body{
    background-color: silver;
}
header{
    text-align: center;
}

nav{
    border: none;
    text-align: center;
    width: 100%;
}

nav ul{
        margin: 0 auto;
}
nav ul li{
    display: inline-table;
    border: 2px outset silver;
    list-style: none;
    background-color: aqua;
    padding: 10px 5px;
    margin: 0 50px;
}

nav a{
    text-decoration: none;
}

section ul li{
   list-style-image: url(../images/rouge.png); 
}

section ul li ul li{
    list-style-image: url(../images/verte.png);
}

strong{
    background-color: red;
}

main{
    float: left;
    width: 80%;
    margin-right: 20px;
}
aside{
    float: left;
}
section h2{
    font-style: italic;
}