/*Positionnement fixed*/
body {
	margin:0;
	padding:0;
}
body>header, body>footer{
	position:fixed;
	width:100%;
	margin:0;
	padding:10px;
	background-color:cyan;
	text-align:center;
	height:60px;
}

body>header{
	top:0;
}
body>footer{
	bottom:0;
}

main{
	margin-right:1%;
	margin-left:19%;
	margin-top:100px;
	margin-bottom:100px;
	border-style:solid;
	border-color:blue;
	border-width:thin;
}

section{
	border-style:solid;
	border-color:green;
	border-width:thin;
	margin:5px;
}

table, td ,th{
	border-style:solid;
	border-color:red;
}

nav {
	position:fixed;
	border-style:solid;
	border-color:yellow;
	border-width:thin;
	width:18%;
	margin:0;
	padding:2px;
	left:5px;
	top:100px;
}